@use "../scss/ColorMain.scss" as *;

.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: white;
}

.navbarContainerİn{
    display: flex;
    justify-content: space-evenly;
}